<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Agromin.plist
   AgroChem

   Created by Aizat Ozbekova on 25/5/24.
   Copyright (c) 2024 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
<array>
    <dict>
        <key>image</key>
        <string>k44</string>
        <key>description</key>
        <string>Удобрение для увеличения урожайности зерновых</string>
        <key>price</key>
        <string>10 600,00 c</string>
        <key>upa</key>
        <string>Упаковано</string>
        <key>upaText</key>
        <string>20 литров</string>
        <key>norma</key>
        <string>Норма расхода</string>
        <key>normaText</key>
        <string>1-2 л/га</string>
        <key>obra</key>
        <string>Стоимость обработки</string>
        <key>obraText</key>
        <string>530-1 060 с/га</string>
        <key>form</key>
        <string>Препаративная форма</string>
        <key>formText</key>
        <string>Суспензионная эмульсия</string>
        <key>deist</key>
        <string>Действующие вещества</string>
        <key>deistText</key>
        <string>2,4-Д (2-этилгексиловый
            эфир), 300 г/л</string>
        <key>opi</key>
        <string>Описание</string>
        <key>pre</key>
        <string></string>
        <key>preText</key>
        <string>Одним из главных преимуществ удобрений AgroMineral является содержание в них особого стимулятора роста, выполняющего следующие функции:
            
• Адаптация культуры к разным экологическим 
   условиям (низкие и высокие температуры,
   недостаток влаги, кислорода, света, обеднение
   почвы, загрязнение воздуха, ультрафиолет и пр.).

• Повышение сопротивляемости растений к болезням 
   и вредителям.

• Ускорение роста растений.

• Содействие быстрому наращиванию зеленной массы 
   и активному формированию корневой системы.

• Увеличение содержания железа и витаминов в
   урожае, улучшение вкуса.</string>
        <key>meh</key>
        <string>Особенности</string>
        <key>mehText</key>
        <string>Отличительная черта AgroMineral - микроэлементы в хелатной форме.
            
Хелаты - это сложный органические комплексы, охватывающие микроэлемент. Такой комплекс прочно удерживает ионы микроэлементов в растворимом состоянии вплоть до момента поступления в растение, а затем высвобождает его, переводя в биологически доступную форму и сам распадается на химические соединения, легко усваиваемые растениями.

Эти хелаты биологически активны и по своей структуре близки к хлорофиллу или витамину В12, поэтому безвредны и эффективны для растений.</string>
        <key>sko</key>
        <string></string>
        <key>skoText</key>
        <string></string>
        <key>peri</key>
        <string></string>
        <key>periText</key>
        <string></string>
        <key>spek</key>
        <string></string>
        <key>spekText</key>
        <string></string>
        <key>voz</key>
        <string></string>
        <key>vozText</key>
        <string></string>
        <key>fit</key>
        <string></string>
        <key>fitText</key>
        <string></string>
        <key>sov</key>
        <string></string>
        <key>sovText</key>
        <string></string>
        <key>pred</key>
        <string></string>
        <key>predText</key>
        <string></string>
    </dict>
</array>
</plist>

