<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   AgronikaGrand.plist
   AgroChem

   Created by Aizat Ozbekova on 16/5/24.
   Copyright (c) 2024 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
<array>
    <dict>
        <key>image</key>
        <string>k1</string>
        <key>description</key>
        <string>Послевсходовый гербицид для контроля многолетних, однолетних злаковых и двудольных сорняков на кукурузе</string>
        <key>price</key>
        <string>26 000,00 c</string>
        <key>upa</key>
        <string>Упаковано</string>
        <key>upaText</key>
        <string>10 литров</string>
        <key>norma</key>
        <string>Норма расхода</string>
        <key>normaText</key>
        <string>1-2 л/га</string>
        <key>obra</key>
        <string>Стоимость обработки</string>
        <key>obraText</key>
        <string>2600-5200 с/га</string>
        <key>form</key>
        <string>Препаративная форма</string>
        <key>formText</key>
        <string>Масляная дисперсия</string>
        <key>deist</key>
        <string>Действующие вещества</string>
        <key>deistText</key>
        <string>Мезотрион, 70 г/л,
Никосульфурон, 40 г/л</string>
        <key>opi</key>
        <string>Описание</string>
        <key>pre</key>
        <string>Преимущества</string>
        <key>preText</key>
        <string>   • Одновременная защита как от злаковых, так и от
      двудольных однолетних и многолетних сорняков.
   • Длительный период применения на кукурузе: от
      фазы 3 листьев до фазы 8 листьев.
   • Современная формуляция.</string>
        <key>meh</key>
        <string>Механизм действия</string>
        <key>mehText</key>
        <string>Дополняя друг друга в смеси, два действующих вещества проявляют синергизм, который усиливает действие против широкого спектра сорняков.
            
Мезотрион системное действующее вещество, передвигается по ксилеме и флоэме. При поглощении через лист до 88% препарата абсорбируется в течении 3-4 часов. При довсходовой обработке мезотрион быстро абсорбируется корнями, проростками и сразу передвигается в листовую поверхность растения.

Никосульфурон системное действующее вещество, поглощается листьями и стеблем сорняков, передвигается по растению, поэтому он эффективен против многолетних злаковых сорняков. Ингибирует деление клеток вследствии блокирования фермента ацетолактатсинтаз, одного из основных ферментов биосинтеза незаменимых аминокислот.</string>
        <key>sko</key>
        <string>Скорость воздействия</string>
        <key>skoText</key>
        <string>Препарат проникает в растение (70-80% в течение 24 часов) и вызывает остановку роста чувствительных сорняков в течение 1-2 дней после применения. Первые симптомы повреждения обесцвечивание фотосинтезирующих тканей, отмечаются в точках роста. Затем обесцвечивание распространяется на все растение, происходит некроз тканей. Полная гибель происходит в течение 1-3 недель в зависимости от вида сорняков и условий окружающей среды. В общем случае скорость действия зависит от климатических условий и физиологического состояния сорных растений в момент примененияпрепарата.</string>
        <key>peri</key>
        <string>Период защитного действия</string>
        <key>periText</key>
        <string>Препарат Агроника Гранд, МД оказывает гербицидное действие на чувствительные сорные растения, имеющиеся в посевах на момент опрыскивания, и сохраняет действие в течение 45-60 дней после применения в зависимости от нормы расхода, видового состава и фазы развития сорняков, а также погодных условий.</string>
        <key>spek</key>
        <string>Спектр действия</string>
        <key>spekText</key>
        <string>Однолетние и многолетние злаковые сорняки (просовидные, овсюги, виды мятлика, гумай, пырей ползучий); однолетние и многолетние двудольные сорняки (виды щирицы, лебеды, ромашки, горца, амброзии, осоты и др).</string>
        <key>voz</key>
        <string>Возникновение резистентности</string>
        <key>vozText</key>
        <string>Действующие вещества, входящие в состав гербицида Агроника Гранд, МД, относятся к разным химическим классам, что уменьшает риск возникновения устойчивости у сорных растений.
            
Согласно Международному перечню сорных растений, устойчивых к гербицидам (International Survey of Herbicide Resistance Weeds) на 2017 год 50 случаев появления устойчивых популяций злаковых сорняков (виды щетинника, гумай, просо куриное, виды щирицы) при длительном применении гербицидов производных сульфонилмочевины и некоторых двудольных сорняков марь белая, щирица, редька дикая и др. При этом отмечается как групповая, так и перекрестная устойчивость.

Согласно Международному перечню сорных растений, устойчивых к гербицидам (International Survey of Herbicide Resistance Weeds) на 2016 год зафиксировано 8 случаев появления устойчивых популяций амарантовых сорняков (Amaranthus spp.) при длительном применении Мезотриона. При этом отмечается как групповая к ингибиторам биосинтеза каротиноидов, так и перекрестная устойчивость к ингибиторам фотосинтеза, ацетолактатсинтетазы и синтетическим ауксинам.

Во избежание появления резистентности следует чередовать применение гербицидов с различным механизмом действия и возделывать кукурузу в ротации с другими культурами.</string>
        <key>fit</key>
        <string>Фитотоксичность и толерантность</string>
        <key>fitText</key>
        <string>При соблюдении рекомендованных регламентов применения не является фитотоксичным для обрабатываемой культуры. Гербицид быстро метаболизируется в растениях кукурузы, поэтому культура проявляют высокую толерантность к препарату. Не отмечено отрицательного действия гербицида на рост и развитие обрабатываемых растений.</string>
        <key>sov</key>
        <string>Совместимость</string>
        <key>sovText</key>
        <string>Препарат можно использовать в баковых смесях или последовательно с большинством инсектицидов и фунгицидов, разрешенных для применения на кукурузе. Рекомендуется в каждом случае предварительная проверка на химическую совместимость смешиваемых компонентов.</string>
        <key>pred</key>
        <string>Предостережения</string>
        <key>predText</key>
        <string>Запрещено применение препарата в водоохранных зонах водных объектов, включая их частный случай - рыбоохранные зоны.</string>
        <!-- Вставьте остальные ключи и значения сюда -->
    </dict>
</array>
</plist>
