<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Insektitsidy.plist
   AgroChem

   Created by Aizat Ozbekova on 23/5/24.
   Copyright (c) 2024 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
<array>
    <dict>
        <key>image</key>
        <string>k38</string>
        <key>description</key>
        <string>Инсектицид быстрого действия для борьбы с широким спектром насекомых-вредителей</string>
        <key>price</key>
        <string>4 700,00 c</string>
        <key>upa</key>
        <string>Упаковано</string>
        <key>upaText</key>
        <string>5 литров</string>
        <key>norma</key>
        <string>Норма расхода</string>
        <key>normaText</key>
        <string>0,07-0,15 л/га</string>
        <key>obra</key>
        <string>Стоимость обработки</string>
        <key>obraText</key>
        <string>66-141 с/га</string>
        <key>form</key>
        <string>Препаративная форма</string>
        <key>formText</key>
        <string>Концентрат эмульсии</string>
        <key>deist</key>
        <string>Действующие вещества</string>
        <key>deistText</key>
        <string>Альфа-циперметрин,
100 г/л</string>
        <key>opi</key>
        <string>Описание</string>
        <key>pre</key>
        <string>Преимущества</string>
        <key>preText</key>
        <string>   • Эффективен на всех стадиях развития насекомых.
   • Применяется в малых дозах.
   • Активен против широкого спектра насекомых-
      вредителей.</string>
        <key>meh</key>
        <string>Механизм действия</string>
        <key>mehText</key>
        <string>Обладает контактно-кишечным действием. Действует на вредителей, которые входят в непосредственный контакт с препаратом, а также при их питании растениями, которые были обработаны инсектицидом. Нарушает проницаемость клеточных мембран, блокирует натриевые каналы. В результате паралича нервной системы вредители погибают.</string>
        <key>sko</key>
        <string>Скорость воздействия</string>
        <key>skoText</key>
        <string>Проникает в растение через листья в течение первых часов после опрыскивания, обеспечивает быстрое уничтожение вредителей. Скорость воздействия на насекомое колеблется от 15 до 30 минут.</string>
        <key>peri</key>
        <string>Период защитного действия</string>
        <key>periText</key>
        <string>Срок защитного действия не менее 7 суток (в зависимости от погодных условий, сроков при- менения и вида насекомых).</string>
        <key>spek</key>
        <string>Спектр действия</string>
        <key>spekText</key>
        <string>Аккорд, СЭ является инсектицидом широкого спектра действия против насекомых-вредителей: семейства листоедов, семейства флеотрипиды, семейства цикадки, семейства листоверток, семейства тлей, клещей, клопа вредной черепашки, колорадского жука, саранчовых.</string>
        <key>voz</key>
        <string>Возникновение резистентности</string>
        <key>vozText</key>
        <string>Для предотвращения возникновения резистентности необходимо чередование применения препарата с инсектицидами других химических групп.</string>
        <key>fit</key>
        <string>Фитотоксичность и толерантность</string>
        <key>fitText</key>
        <string>Не обладает фитотоксичностью в рекомендуемых нормах расхода. При соблюдении регламентов применения культурные растения проявляют достаточно высокий уровень толерантности к препарату.</string>
        <key>sov</key>
        <string>Совместимость</string>
        <key>sovText</key>
        <string>Препарат совместим с большинством инсектицидов, акарицидов и фунгицидов. Перед применением на больших площадях необходимо проводить пробное смешивание.</string>
        <key>pred</key>
        <string>Предостережения</string>
        <key>predText</key>
        <string>Запрещено применение препарата:
■ авиационным методом;
■ в санитарной зоне рыбохозяйственных водоемов.
</string>
        <!-- Вставьте остальные ключи и значения сюда -->
    </dict>
</array>
</plist>
