<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Arbalet.plist
   AgroChem

   Created by Aizat Ozbekova on 20/5/24.
   Copyright (c) 2024 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
<array>
    <dict>
        <key>image</key>
        <string>k2</string>
        <key>description</key>
        <string>Послевсходовый двухкомпонентный гербицид для защиты от широкого спектра двудольных сорняков, в т.ч. устойчивых к 2,4-Д и некоторых корнеотпрысковых видов</string>
        <key>price</key>
        <string>9 000,00 c</string>
        <key>upa</key>
        <string>Упаковано</string>
        <key>upaText</key>
        <string>10 литров</string>
        <key>norma</key>
        <string>Норма расхода</string>
        <key>normaText</key>
        <string>0,4-0,6 л/га</string>
        <key>obra</key>
        <string>Стоимость обработки</string>
        <key>obraText</key>
        <string>360-540 с/га</string>
        <key>form</key>
        <string>Препаративная форма</string>
        <key>formText</key>
        <string>Суспензионная эмульсия</string>
        <key>deist</key>
        <string>Действующие вещества</string>
        <key>deistText</key>
        <string>2,4-Д (2-этилгексиловый 
эфир), 300 г/л,
Флорасулам, 6.25 г/л</string>
        <key>opi</key>
        <string>Описание</string>
        <key>pre</key>
        <string>Преимущества</string>
        <key>preText</key>
        <string>   • Уничтожает сорняки с двойной силой.
   • Высокая скорость проникновения 
      быстрый результат.
   • Широкий диапазон возможных сроков применения.</string>
        <key>meh</key>
        <string>Механизм действия</string>
        <key>mehText</key>
        <string>2,4-Д (2-этилгексиловый эфир) легко проникает в ткани сорняков и тормозит процесс фотосинтеза. Происходит гидролитический распад белков, инулина и крахмала. Резко снижается поступление в растение калия, фосфора и азота. Водный обмен нарушается, теряется состояние тургора, растение увядает. Флорасулам обладает системным действием. В растения проникает через листья и корни, в зерно не проникает. Механизм действия заключается в ингибировании ацетолактатсинтазы. Она является ключевым ферментом в образовании валина, изолейцина и лейцина.</string>
        <key>sko</key>
        <string>Скорость воздействия</string>
        <key>skoText</key>
        <string>Гербицид примерно в течение одного часа проникает через листья и распространяется по всем частям сорных растений, включая корни, блокирует рост клеток. Рост сорняков прекращается через сутки после обработки. Видимые признаки действия проявляются через 3-4 дня (обесцвечивание и скручивание листьев, сокращение междоузлий). В зависимости от видов сорных растений и погодных условий окончательное уничтожение сорняков происходит через 2-3 недели после обработки. Сроки проявления гербицидного эффекта зависят от нормы внесения препарата, погодных условий, видовой чувствительности и возраста сорняков.</string>
        <key>peri</key>
        <string>Период защитного действия</string>
        <key>periText</key>
        <string>Практически в течение всего периода вегетации (в зависимости от погодных условий и при отсутствии новой «волны» сорных растений).</string>
        <key>spek</key>
        <string>Спектр действия</string>
        <key>spekText</key>
        <string>Уничтожает большое количество видов двудольных сорняков (в том числе устойчивые к 2,4-Д кислота), среди которых амброзия полыннолистная, подмаренник цепкий, бодяк полевой, марь белая, вьюнок полевой (виды), ромашки, горчица полевая, осот полевой, пастушья сумка, звездчатка средняя, ярутка полевая, редька дикая, мак самосейка, латук татарский, (виды) щирицы, (виды) горца, гречишка вьюнковая, дескурайния Софии, одуванчик лекарственный и др.</string>
        <key>voz</key>
        <string>Возникновение резистентности</string>
        <key>vozText</key>
        <string>Действует на сорняки двояким образом, т.е. как гербицид, ингибирующий образование ацетолактатсинтазы (ASL) и как гербицид, вызывающий реакцию ауксинного типа. Указанное двойное действие препарата снижает возможность возникновения резистентности.</string>
        <key>fit</key>
        <string>Фитотоксичность и толерантность</string>
        <key>fitText</key>
        <string>Чувствительны широколистные (двудольные) растения. Повреждений растений зерновых культур при проведении опытов отмечено не было. К гербициду проявляют устойчивость растения пшеницы яровой, пшеницы озимой, ячменя ярового, кукурузы, проса и большинство сортов сорго.</string>
        <key>sov</key>
        <string>Совместимость</string>
        <key>sovText</key>
        <string>Совместим с большинством фунгицидов и инсектицидов применяемых на зерновых. В каждом случае необходима предварительная проверка на физико-химическую совместимость смешиваемых компонентов. При приготовлении баковых смесей избегать прямого смешивания препаратов без предварительного разведения водой.
            
Можно использовать в баковых смесях с препаратами на основе сульфонилмочевины, дикамбы, карфентразон-этила, изопротурона, а также с фунгицидами и инсектицидами. Применение гербицида Арбалет, СЭ в смесях с препаратами на основах феноксапроп-П-этила и клодинафоп- пропаргила может снизить эффективность граминицидов, на что следует обратить внимание при обработке посевов зерновых культур.</string>
        <key>pred</key>
        <string>Предостережения</string>
        <key>predText</key>
        <string>Не применять гербицид на зерновых с подсевом бобовых; в случае пересева использовать только злаки; не допускать сноса препарата на поля, занятые широколистными культурами.</string>
        <!-- Вставьте остальные ключи и значения сюда -->
    </dict>
</array>
</plist>
