<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Azoksit.plist
   AgroChem

   Created by Aizat Ozbekova on 23/5/24.
   Copyright (c) 2024 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
<array>
    <dict>
        <key>image</key>
        <string>k29</string>
        <key>description</key>
        <string>Двухкомпонентный системный фунгицид широкого спектра действия</string>
        <key>price</key>
        <string>3 160,00 c</string>
        <key>upa</key>
        <string>Упаковано</string>
        <key>upaText</key>
        <string>10 литров</string>
        <key>norma</key>
        <string>Норма расхода</string>
        <key>normaText</key>
        <string>0,8-1 л/га</string>
        <key>obra</key>
        <string>Стоимость обработки</string>
        <key>obraText</key>
        <string>2 528 - 3 160 с/га</string>
        <key>form</key>
        <string>Препаративная форма</string>
        <key>formText</key>
        <string>Концентрат суспензии</string>
        <key>deist</key>
        <string>Действующие вещества</string>
        <key>deistText</key>
        <string>Азоксистробин, 200 г/л
Тебуконазол, 160 г/л</string>
        <key>opi</key>
        <string>Описание</string>
        <key>pre</key>
        <string>Преимущества</string>
        <key>preText</key>
        <string>   • Высокоэффективен против колосовых заболеваний 
      зерновых культур.
   • Минимальный риск возникновения
      резистентности.
   • Широкий спектр подавляемых патогенов.</string>
        <key>meh</key>
        <string>Механизм действия</string>
        <key>mehText</key>
        <string>Тебуконазол подавляет биосинтез эргостерина в мембранах клеток фитопатогенов, также воздействуют на метаболизм, и этим тебуконазол отличается от других триазолов.
            
Азоксистробин:
■ нарушает образование клеточных мембран мицелия грибов, блокируя синтез эргостерола;
■ как профилактическое средство ингибирует образование апрессориев и развитие гиф гриба (патоген не может закрепиться на листе);
■ как лечебное средство тормозит рост очагов поражения грибами после произошедшего заражения на листьях и внутри них, предотвращает образование спор.</string>
        <key>sko</key>
        <string>Скорость воздействия</string>
        <key>skoText</key>
        <string>Тебуконазол и азоксистробин поступают в растение в течение суток через листья и стебли, перемещаются акропетально и проявляют свое действие уже через 2 суток.</string>
        <key>peri</key>
        <string>Период защитного действия</string>
        <key>periText</key>
        <string>В силу высокой химической стабильности на/в растении тебуконазола и азоксистробина препарат защищает культуру от болезней в течение длительного периода до 5 недель. Оказывает сильное лечащее действие; активность снижается в прохладную и влажную погоду.</string>
        <key>spek</key>
        <string>Селективность</string>
        <key>spekText</key>
        <string>Препарат в рекомендованных нормах расхода не оказывает отрицательного действия на прорастание, рост и развитие защищаемого растения.</string>
        <key>voz</key>
        <string>Возникновение резистентности</string>
        <key>vozText</key>
        <string>По данным Комитета по устойчивости к фунгицидам (FRAC - Fungicide Resistance Action Committee) на 2021 год имеются доказательства о формировании устойчивой популяции возбудителей мучнистой росы и септориоза зерновых культур при длительном применении фунгицидов из группы триазолов. Имеются также доказательства о формировании устойчивой популяции возбудителей болезней сельскохозяйственных культур при длительном применении фунгицидов из группы стробилуринов. Установлено, что возбудители заболеваний растений могут достаточно быстро (в течение 3-4 лет) формировать устойчивые популяции к стробилуринам.
            
Для предотвращения и/или преодоления резистентности к этим фунгицидам необходимо применять комбинированные препараты или баковые смеси с контактными фунгицидами.</string>
        <key>fit</key>
        <string>Фитотоксичность и толерантность</string>
        <key>fitText</key>
        <string>В рекомендуемых нормах расхода препарат не фитотоксичен и не оказывает отрицательного воздействия на рост и развитие защищаемой культуры.</string>
        <key>sov</key>
        <string>Совместимость</string>
        <key>sovText</key>
        <string>Препарат совместим с фунгицидами и инсектицидами, кроме препаратов, обладающих сильнощелочной или сильнокислой реакцией. Однако в каждом конкретном случае необходимо предварительно проверить смешиваемые компоненты на совместимость и фитотоксичность по отношению к обрабатываемым культурам.</string>
        <key>pred</key>
        <string>Рекомендации по применению</string>
        <key>predText</key>
        <string>Высоко эффективен против патогенных грибов вызывающих ржавчину, даже при низких нормах расхода.
            
Слабая эффективность против мучнистой росы, септориоза, пиренофороза, по этому для избавления этих заболеваний требуются максимальные нормы расхода.

Препарат применяют путем опрыскивания растений при первых признаках заболевания или заблаговременно по прогнозу (в условиях сильной инфекционной нагрузки).

Количество обработок 1-2, срок ожидания - 48 дней расход рабочей жидкости 300 л/га.</string>
        <!-- Вставьте остальные ключи и значения сюда -->
    </dict>
</array>
</plist>
