<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245882024853-jrdrjsd3boamn27ht58j9er4tsutjnt6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245882024853-jrdrjsd3boamn27ht58j9er4tsutjnt6</string>
	<key>API_KEY</key>
	<string>AIzaSyBM2P7r30i14CB-HA68vpBFaw56KeY4TU8</string>
	<key>GCM_SENDER_ID</key>
	<string>245882024853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Aizat.AgroLab</string>
	<key>PROJECT_ID</key>
	<string>agrochemm-d5863</string>
	<key>STORAGE_BUCKET</key>
	<string>agrochemm-d5863.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245882024853:ios:4b04b934d98fd648c63c9c</string>
</dict>
</plist>