<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Greff.plist
   AgroChem

   Created by Aizat Ozbekova on 25/5/24.
   Copyright (c) 2024 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
<array>
    <dict>
        <key>image</key>
        <string>k57</string>
        <key>description</key>
        <string>ПАВ. Повышает эффективность пестицидов и биостимуляторов при одновременном использовании</string>
        <key>price</key>
        <string>9 450,00 c</string>
        <key>upa</key>
        <string>Упаковано</string>
        <key>upaText</key>
        <string>5 литров</string>
        <key>norma</key>
        <string>Норма расхода</string>
        <key>normaText</key>
        <string>0,4-0,6 л/га</string>
        <key>obra</key>
        <string>Стоимость обработки</string>
        <key>obraText</key>
        <string>360-540 с/га</string>
        <key>form</key>
        <string>Препаративная форма</string>
        <key>formText</key>
        <string>Жидкость</string>
        <key>deist</key>
        <string>Действующие вещества</string>
        <key>deistText</key>
        <string>Полиалкиленоксид мод.
гептаметилтрисилоксан, 
900 г/л,
Полиалкиленоксид, 100 г/л</string>
        <key>opi</key>
        <string>Описание</string>
        <key>pre</key>
        <string>Преимущества</string>
        <key>preText</key>
        <string>   • Улучшает адгезию (прилипание) препарата и его
      абсорбцию поверхностью листьев.
   • Не оказывает токсического действия на
      культурные растения.
   • Совместим с большинством зарегистрированных
      пестицидов.</string>
        <key>meh</key>
        <string>Механизм действия</string>
        <key>mehText</key>
        <string>Уменьшает поверхностное натяжение на границе раздела двух сред, значительно улучшая смачивающую способность рабочего раствора, увеличивая таким образом площадь поверхности покрытия листовой пластины и рост площади поглощения, что улучшает адгезию (прилипание) препарата и его абсорбцию поверхностью листьев и повышает эффективность.</string>
        <key>sko</key>
        <string>Фитотоксичность</string>
        <key>skoText</key>
        <string>Не фитотоксичен для обрабатываемых культур при любых нормах расхода.</string>
        <key>peri</key>
        <string>Совместимость</string>
        <key>periText</key>
        <string>Совместим с большинством зарегистрированных пестицидов, за исключением медьсодержащих.</string>
        <key>spek</key>
        <string>Рекомендации по применению препарата</string>
        <key>spekText</key>
        <string>■ ГРЕФФ, Ж применяется только в баковой смеси с пестицидами. Перед применением препарата требуется внимательно прочитать тарную этикетку и рекомендации по применению используемого пестицида.
■ Время использования зависит от срока годности основного пестицида, используемого совместнос Грефф, Ж. Рекомендована обработка полей баковыми смесями с помощью авиации.
■ Максимальная концентрация 0,15% может применяться только с системными препаратами и гербицидами сплошного действия.
■ С контактными препаратами должен использоваться в концентрациях 0,01-0,1%. В полевых условиях обычная норма использования составляет 0,1 л/га в 100-250 л воды/га. Повышенные нормы или увеличение объема воды не улучшают покрытие обрабатываемых растений, а наоборот создает риск чрезмерного стекания рабочего раствора.
■ Срок использования и срок последней обработки до сбора урожая определены официальной регистрацией пестицида, с которым применяется в баковой смеси.</string>
        <key>voz</key>
        <string></string>
        <key>vozText</key>
        <string></string>
        <key>fit</key>
        <string></string>
        <key>fitText</key>
        <string></string>
        <key>sov</key>
        <string></string>
        <key>sovText</key>
        <string></string>
        <key>pred</key>
        <string></string>
        <key>predText</key>
        <string></string>
    </dict>
</array>
</plist>

