<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Regolon.plist
   AgroChem

   Created by Aizat Ozbekova on 25/5/24.
   Copyright (c) 2024 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
<array>
    <dict>
        <key>image</key>
        <string>k55</string>
        <key>description</key>
        <string>Десикант для предуборочного подсушивания подсолнечника, обеспечивающий равномерное созревание урожая и сохранение качества продукции</string>
        <key>price</key>
        <string>18 800,00 c</string>
        <key>upa</key>
        <string>Упаковано</string>
        <key>upaText</key>
        <string>20 литров</string>
        <key>norma</key>
        <string>Норма расхода</string>
        <key>normaText</key>
        <string>2 л/га</string>
        <key>obra</key>
        <string>Стоимость обработки</string>
        <key>obraText</key>
        <string>1 880 с/га</string>
        <key>form</key>
        <string>Препаративная форма</string>
        <key>formText</key>
        <string>Водный раствор</string>
        <key>deist</key>
        <string>Действующие вещества</string>
        <key>deistText</key>
        <string>Дикват дибромид, 150 г/л</string>
        <key>opi</key>
        <string>Описание</string>
        <key>pre</key>
        <string>Преимущества</string>
        <key>preText</key>
        <string>   • Снижает влажность семян, в результате уменьшаются затраты на сушке.
   • Уборка урожая в более короткие сроки и сокращение потерь семян при уборке.
   • Облегчает уборку, поскольку наряду с культурными высушивает и сорные растения.</string>
        <key>meh</key>
        <string>Механизм действия</string>
        <key>mehText</key>
        <string>Препарат нарушает физиологические и биохимические процессы в растении, что ведет к ослаблению водоудерживающей способности тканей и гибели клеток, что приводит к усыханию растений. Признаки действия препарата постепенное увядание, пожелтение, затем усыхание листьев и генеративных органов.</string>
        <key>sko</key>
        <string>Скорость воздействия</string>
        <key>skoText</key>
        <string>В зависимости от состояния культуры и погодных условий в период обработки проявление действия Десиканта отмечается уже на следующий день. Признаки действия препарата постепенное увядание, пожелтение, затем усыхание листьев и генеративных органов.</string>
        <key>peri</key>
        <string>Период защитного действия</string>
        <key>periText</key>
        <string>Вызывает полное высыхание растения в течение 7-14 дней. Защитное действие против однолетних сорняков сохраняется до появления новой волны проростков.</string>
        <key>spek</key>
        <string>Спектр действия</string>
        <key>spekText</key>
        <string>Гербицид, уничтожающий двудольные сорняки, в том числе устойчивые к 2,4-Д и 2М-4Х на посевах зерновых культур.</string>
        <key>voz</key>
        <string>Возникновение резистентности</string>
        <key>vozText</key>
        <string>В настоящее время известны случаи появления устойчивых к диквату популяций сорняков при длительном применении его в качестве гербицида. Однако при использовании препаратов на его основе в качестве десиканта такая проблема не возникает.</string>
        <key>fit</key>
        <string>Фитотоксичность и толерантность</string>
        <key>fitText</key>
        <string>Гербицид сплошного действия, уничтожающей практически все травянистые растения и не проявляющий избирательности.</string>
        <key>sov</key>
        <string>Совместимость</string>
        <key>sovText</key>
        <string>Совместим с мочевиной, но не совместим с препаратами, имеющими щелочную реакцию, анионными поверхностно активными веществами и солями щелочных металлов, гербицидами ауксиноподобного действия.</string>
        <key>pred</key>
        <string>Рекомендации по применению</string>
        <key>predText</key>
        <string>При работе с препаратом важно правильно определить сроки проведения десикации. Обработка на ранних сроках может привести к снижению урожайности, поэтому начинайте обработку посевов или посадок при наступлении физиологической спелости семян при влажности 30-50% в зависимости от культуры. Интенсивность десикации зависит от нормы расхода препарата, засоренности посевов, густоты стояния растений, погодных условий в момент обработки и после нее. При обработке и выборе нормы расхода учитывайте высокую засоренность посевов и посадок, высокую влажность, а также необходимость проведения уборки в сжатые сроки. В солнечную, сухую погоду скорость десикации увеличивается. Норма расхода рабочего раствора должна быть достаточной для полного смачивания всей листовой поверхности.
            
</string>
        <!-- Вставьте остальные ключи и значения сюда -->
    </dict>
</array>
</plist>

