<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Vitalon.plist
   AgroChem

   Created by Aizat Ozbekova on 25/5/24.
   Copyright (c) 2024 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
<array>
    <dict>
        <key>image</key>
        <string>k47</string>
        <key>description</key>
        <string>Фунгицид протравитель семян для защиты яровых и озимых зерновых культур (пшеница, рожь, ячмень), кукурузы и сои от комплекса болезней</string>
        <key>price</key>
        <string>11 000,00 c</string>
        <key>upa</key>
        <string>Упаковано</string>
        <key>upaText</key>
        <string>10 литров</string>
        <key>norma</key>
        <string>Норма расхода</string>
        <key>normaText</key>
        <string>1,5-2 л/т</string>
        <key>obra</key>
        <string>Стоимость обработки</string>
        <key>obraText</key>
        <string>1 650-2 200 с/га</string>
        <key>form</key>
        <string>Препаративная форма</string>
        <key>formText</key>
        <string>Концентрат суспензии</string>
        <key>deist</key>
        <string>Действующие вещества</string>
        <key>deistText</key>
        <string>Тирам, 400 г/л
Тебуконазол, 14 г/л</string>
        <key>opi</key>
        <string>Описание</string>
        <key>pre</key>
        <string>Преимущества</string>
        <key>preText</key>
        <string>   • Активное действие с первых суток применения.
   • Надежно защищает зерновые колосовые культуры
      как от семенной инфекции, так и от вторичного
      заражения из почвы.
   • Обладает профилактическим и 
      лечебным действием.</string>
        <key>meh</key>
        <string>Механизм действия</string>
        <key>mehText</key>
        <string>Тебуконазол системный фунгицид. Механизм действия заключается в подавлении образования клеточных мембран грибов, что ведет к гибели патогена. При набухании зерна проникает в зародыш семени и обеззараживает его от головневых инфекций.
            
Тирам - контактный фунгицид, ингибирующий активность ферментов, содержащих в активном центре сульфгидрильные группы и дисульфидные связи. При проникновении в мицелий ингибирует процессы деления ядер и клеток патогенов, находящихся на поверхности семян и в почве, дезинфицирует поверхность семян.

</string>
        <key>sko</key>
        <string>Скорость воздействия</string>
        <key>skoText</key>
        <string>Фунгицидное воздействие проявляется в течение суток.</string>
        <key>peri</key>
        <string>Период защитного действия</string>
        <key>periText</key>
        <string>В течение всего периода вегетации.</string>
        <key>spek</key>
        <string>Спектр действия</string>
        <key>spekText</key>
        <string>Фунгицид для обработки посевного материала.</string>
        <key>voz</key>
        <string>Возникновение резистентности</string>
        <key>vozText</key>
        <string>Отсутствует при соблюдении регламента применения.</string>
        <key>fit</key>
        <string>Фитотоксичность и толерантность</string>
        <key>fitText</key>
        <string>При применении в соответствии с регламентом не оказывает фитотоксического действия.</string>
        <key>sov</key>
        <string>Селективность</string>
        <key>sovText</key>
        <string>Препарат селективен по отношению к комплексу возбудителей болезней на культурах, которых он применяется.</string>
        <key>pred</key>
        <string>Предостережения</string>
        <key>predText</key>
        <string>Запрещено применение препарата:
■ в личных подсобных хозяйствах;
■ авиационным методом;
■ в водоохранной зоне водных объектов.</string>
        <!-- Вставьте остальные ключи и значения сюда -->
    </dict>
</array>
</plist>

